In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("city.csv")
df

         day      city  temperature  windspeed   event
0   1/1/2017  new york           36          6    rain
1   1/2/2017  new york           32          7   sunny
2   1/3/2017  new york           28         12    snow
3   1/4/2017  new york           33          7   sunny
4   1/1/2017    mumbai           90          5   sunny
5   1/2/2017    mumbai           85         12     fog
6   1/3/2017    mumbai           87         15     fog
7   1/4/2017    mumbai           92          5    rain
8   1/1/2017     pairs           45         20   sunny
9   1/2/2017     pairs           50         13  cloudy
10  1/3/2017     pairs           54          8  cloudy
11  1/4/2017     pairs           42         10  cloudy

In [7]:
df[['city','temperature']][df['temperature']==df['temperature'].max()]

     city  temperature
7  mumbai           92

In [9]:
df[['city','temperature']][(df['city']=='new york')&(df['temperature']==df['temperature'].max())]

Empty DataFrame
Columns: [city, temperature]
Index: []

In [10]:
df.mean()

temperature    56.166667
windspeed      10.000000
dtype: float64

In [12]:
gro=df.groupby('city')
gro

gro.groups

In [20]:
gro.get_group('mumbai')

        day    city  temperature  windspeed  event
4  1/1/2017  mumbai           90          5  sunny
5  1/2/2017  mumbai           85         12    fog
6  1/3/2017  mumbai           87         15    fog
7  1/4/2017  mumbai           92          5   rain

In [23]:
gro.get_group('pairs')

         day   city  temperature  windspeed   event
8   1/1/2017  pairs           45         20   sunny
9   1/2/2017  pairs           50         13  cloudy
10  1/3/2017  pairs           54          8  cloudy
11  1/4/2017  pairs           42         10  cloudy

In [26]:
gro['temperature'].max()

city
mumbai      92
new york    36
pairs       54
Name: temperature, dtype: int64

In [28]:
gro[['day','temperature']].max()

               day  temperature
city
mumbai    1/4/2017           92
new york  1/4/2017           36
pairs     1/4/2017           54