In [5]:
res=lambda n:n*2
result=res(50)
print(result)

100

In [6]:
x=lambda a,b:a+b
print(x(45,20))

65

In [7]:
x=lambda a,b,c : a*b*c
print(x(56,34,20))

38080

In [8]:
def lambda_function(n):
    return lambda a:a*n
l=lambda_function(92)
print(l(34))

3128

In [10]:
def lambda_function1(n,n1):
    return lambda b:b*n*n1
l1=lambda_function1(23,90)
print(l1(52))

107640

In [12]:
lst=[30,46,76,28,10,45,100]
print("the Autual List : ",lst)
result=list(filter (lambda n:n%5==0 , lst))
print("After the List : ",result)

the Autual List :  [30, 46, 76, 28, 10, 45, 100]
After the List :  [30, 10, 45, 100]

In [15]:
lst1=[23,67,123,356,19,3,67,27,45,235,10,400,285,1000,1500,400,265]
print("the Autual List : ",lst1)
result=list(filter (lambda n:n%5==0 if 100<=n<=999 else 0,lst1))
print("divisible by 5 in 3 digits numbers : ",result)

the Autual List :  [23, 67, 123, 356, 19, 3, 67, 27, 45, 235, 10, 400, 285, 1000, 1500, 400, 265]
divisible by 5 in 3 digits numbers :  [235, 400, 285, 400, 265]

In [20]:
lst2=[69,55,20,78,893,10,45,82,345,10,55,100,50,20,40,200,500,1000,17000]
print("The Autual list : ",lst2)
res=set(filter (lambda n:n%10==0 if 10<=n<=99 else 0 ,lst2))
print("divisible by 5  in 2 digits Numbers : ",res)

The Autual list :  [69, 55, 20, 78, 893, 10, 45, 82, 345, 10, 55, 100, 50, 20, 40]
divisible by 5  in 2 digits Numbers :  {40, 10, 20, 50}

In [23]:
lst3=[69,55,20,78,893,10,45,82,345,10,55,100,35,50,20,15,40,200,500,1000,17000,70,35,30,105,]
print("The Autual list : ",lst2)
res=set(filter (lambda n:n%3==0 and n%5==0 if 10<=n<=99 else 0,lst3 ))
print("divisible by 3 and 5 in 2 digits Numbers : ",res)

The Autual list :  [69, 55, 20, 78, 893, 10, 45, 82, 345, 10, 55, 100, 50, 20, 40]
divisible by 3 and 5 in 2 digits Numbers :  {45, 30, 15}

In [38]:
lst3=[69,55,20,78,893,175,10,45,82,345,10,55,100,35,50,20,15,40,200,500,1000,17000,70,35,30,105,175]
print("The Autual list : ",lst2)
res=tuple(filter (lambda n:n%7==0 and n%5==0 if 100<=n<=999 else 0,lst3 ))
print("divisible by 3 and 5 in 3 digits Numbers : ",res)

The Autual list :  [69, 55, 20, 78, 893, 10, 45, 82, 345, 10, 55, 100, 50, 20, 40, 200, 500, 1000, 17000]
divisible by 3 and 5 in 3 digits Numbers :  (175, 105, 175)

In [37]:
lst4=[69,55,20,78,893,10,45,82,345,10,70,55,100,50,20,40,200,500,1000,17000,70,105,45]
print("The Autual list : ",lst2)
res=set(filter (lambda n:n%7==0 ,lst4))
print("divisible by 7 : ",res)

The Autual list :  [69, 55, 20, 78, 893, 10, 45, 82, 345, 10, 55, 100, 50, 20, 40, 200, 500, 1000, 17000]
divisible by 7 :  {105, 70}

In [40]:
s1={30,20,56,10,45,10,199,100,78,34,52}
print("the autual set : ",s1)
res=list(filter (lambda n:n%5==0 if 10<=n<=99 else 0 ,s1))
print("divisible by 5 : ",res)

the autual set :  {34, 100, 199, 10, 45, 78, 20, 52, 56, 30}
divisible by 5 :  [10, 45, 20, 30]

In [41]:
s1={10,30,56,10}
print(s1)

{56, 10, 30}

In [56]:
#salary is 50000+ then tax is 8%
#otherwise it is 5%

#compute the income tax
#lambda + regular FUNCTION

def get_tax_percentage(s):
    if s >=50000:
        return 0.8
    else:
        return 0.5
    
compute_tax = lambda salary : get_tax_percentage(salary) *salary
sal = float(input('enter the salary : '))
print ('salary is : ',sal)
tax_amount = compute_tax(sal)
tot_amount = sal+tax_amount
print ('tax amount : ',tax_amount)
print("total amount : ",tot_amount)

enter the salary : 45000
salary is :  45000.0
tax amount :  2700.0
total amount :  47700.0

In [58]:
dict1={101:"prathyusha",102:"arjun",103:"damon",104:"klaus",105:"arjun",106:"rick",107:"matt"}
data={k:v.title() for k,v in dict1.items() if v=="arjun"}
for i,j in data.items():
    print(i,j)

102 Arjun
105 Arjun

In [62]:
lst1=[23,67,123,356,19,3,67,27,45,235,10,400,285,1000,1500,400,265,10]
res={i*3 for i in lst1 if 9<i<99}
print(res)

{69, 135, 201, 81, 57, 30}

In [64]:
given_list=[x for x in range(1,31,3)]
print(given_list)
new_list=[y*5 for y in given_list]
print(new_list)

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28]
[5, 20, 35, 50, 65, 80, 95, 110, 125, 140]

In [81]:
l1=[30,20,84,86,56,89,99]
l2=[89,42,20,86,84,78,99]
for i in l2:
    if i in l1:
        if not 80<i<99:
            l1.remove(i)
print(l1)
tup1=(10,5,66,77,25,44,80,99,121,56)
del tup1
del print()
#print (tup1[4:8])
#l1=list(tup1)
#c=l1.clear()
#print(c)

SyntaxError: cannot delete function call (<ipython-input-81-3a653aaaa150>, line 10)

In [69]:
l1=[30,20,56,89,99]
tuple1=tuple(l1)
print(l1)
print(tuple1)

[30, 20, 56, 89, 99]
(30, 20, 56, 89, 99)

In [74]:
for i in range(15,21):
    print(i)

15
16
17
18
19
20