In [12]:
#salary=[('sunill',2500),('arjun',2000),('karan',3000),...]
#Find the Person Who is Getting The Highest And Lowest Salary
n=None
salary=[('sunill',2500),('arjun',2000),('karan',3000),('suryakumer',4800),('ranjith',3290),('jayvanth',4429)]
h=0
l=999999
for i in salary:
    if i[1]>=h:
        h=i[1]
        n=i[0]
    if i[1]<=l:
        l=i[1]
        n=i[0]
    
    
print('hights salary is : ',h,'lowest salary is',l)

hights salary is :  4800 lowest salary is 2000

In [1]:
#data1={125,600,355,444,90,89,120,37,3,90,150,124,55,145,156,194,137,136,139}
#Find the total All of the Elements Bwtween 100 and 250 and Also find Average and highest Number 
t=c=h=0
l=99999
data1={125,600,355,444,90,89,120,37,3,90,150,124,55,145,156,194,137,136,139}
lst=list(data1)
print(lst)
for i in lst:
    if i>=100 and i<=250:
        print(i)
        t=t+i
        c=c+1
        if i>h:
            h=i
        if i<l:
            l=i
        
avg=t/c
            
print('total',t)
print('average',t)
print('highest value',h)
print('lowest value',l)

[194, 355, 3, 37, 136, 137, 139, 120, 124, 145, 156, 150, 55, 600, 89, 90, 444, 125]
194
136
137
139
120
124
145
156
150
125
total 1426
average 1426
highest value 194
lowest value 120

In [3]:
#data2={1000:(12,45,66),2500:(100,34,78)}
#Add the all values Processing the data2
#Find Averange
#Find the Second highest and thired highest
t=c=0
data2={1000:(12,45,66),2500:(100,34,78)}
lst=[]
for k,v in data2.items():
    t=t+sum(v)
    c=c+len(v)
    for j in v:
        lst.append(j)
slist=sorted(lst)
print('thried lowest',slist[2])
ln=len(slist)
print('second highest',slist[ln-2])
print('total',t,'avg',(t/c))

thried lowest 45
second highest 78
total 335 avg 55.833333333333336

In [9]:
#main_str='hello sunil,may name is also sunil.how are you sunil'
#find_str='sunil'
# Process the String find out how many 'sunil' are there
#Replace all the 'sunil' with 'arjun'
main_str='hello sunil,may name is also sunil.how are you sunil'
find_str='sunil'
fs=main_str.count(find_str)
print(fs)
rs=main_str.replace('sunil','arjun')
print(rs)

3
hello arjun,may name is also arjun.how are you arjun

In [8]:
#data1=[100,250,300,450,125,100,300,400,100,250]
#Find the Frequency of the Number(meaning how many times ir repeate)
data1=[100,250,300,450,125,100,300,400,100,250]
freq={}

for i in data1:
    v=freq.get(i)
    if v==None:
        v=1
        freq.update({i:v})
    else:
        v=v+1
        freq.update({i:v})
for k,v in freq.items():
    print(k,' ',v)

100   3
250   2
300   2
450   1
125   1
400   1