In [2]:
#names=('udhy','shnkar','hari','gopal','arjun','karan')
#n='gopal'
#Remove the contents matching in n in the names 
names=('udhy','shnkar','hari','gopal','arjun','karan')
n='gopal'
lst=list(names)
print(lst)
for i in lst:
    if(i==n):
        lst.remove(i)
        print(lst)

['udhy', 'shnkar', 'hari', 'gopal', 'arjun', 'karan']
['udhy', 'shnkar', 'hari', 'arjun', 'karan']

In [7]:
#data1=(12,45,67,22,44,12,12,89,100)
# Few elements  Which are repeated how many uniqe values are their
data1=(12,45,67,22,44,12,12,89,100)
print(data1)
set1=set(data1)
print('Unique values is',len(set1))
print(set1)

(12, 45, 67, 22, 44, 12, 12, 89, 100)
Unique values is 7
{67, 100, 12, 45, 44, 22, 89}

In [26]:
#emp_id=(100,250,330,19,671)
#emp_name=['anand','ganesh','arjun','karan','shadik']
#Create a dict called employ where the keys is emp_id,values are emp_name of the employess
employ={}
emp_id=(100,250,330,19,671)
emp_name=['anand','ganesh','arjun','karan','shadik']
l1=len(emp_id)
for i in range(0,l1):
    employ.update({emp_id[i]:emp_name[i]})
print(employ)

{100: 'anand', 250: 'ganesh', 330: 'arjun', 19: 'karan', 671: 'shadik'}

In [1]:
#Force the User to input 2 Numbers which must be 4digits and sum them
def inpNum():
    while True:
        n=int(input("enter a number : "))
        if n>999 and n<10000:
            break
    return n
n1=inpNum()
n2=inpNum()
print('sum of two numbers : ',n1+n2)

enter a number : 50
enter a number : 5678
enter a number : 1234
sum of two numbers :  6912

In [10]:
#data1=(100,133,-118,-456,667,900,12,55,68)
#data2=['123','566','-118','-588','7809']
#data1 and data2 cntents in away that you stroe them in dict called numb_dict
#'Odd':(Should be set of all the +ve Odd Numbers)
#'Even':(Should be set of all the +ve Even Numbers)
#'Negative':(Should be set of all the -ve  Numbers)
odd=set()
evn=set()
ng=set()
data1=(100,133,-118,-456,667,900,12,55,68)
data2=['123','566','-118','-588','7809']
for i in data1:
    if i>0:
        if i%2==0:
            evn.add(i)
        else:
            odd.add(i)
    else:
        ng.add(i)
for j in data2:
    i=int(j)
    if i>0:
        if i%2==0:
            evn.add(i)
        else:
            odd.add(i)
    else:
        ng.add(i)
num_dict={}
num_dict.update({'Even':evn})
num_dict.update({'Odd':odd})
num_dict.update({'Negative':ng})
print(num_dict)

{'Even': {900, 100, 68, 12, 566}, 'Odd': {7809, 133, 55, 123, 667}, 'Negative': {-456, -118, -588}}

In [5]:
#data2='karan,shankarrao,akash,kiran chopra,gopal kamath,arjun'
#Put above data2 in list and sort it
#find out how many people names are ending with a and n
data2='karan,shankarrao,akash,kiran chopra,gopal kamath,arjun'
lst=data2.split(',')
print(lst)
lst.sort()
for i in lst:
    if i.endswith('a') or i.endswith('n'):
        print(i)

['karan', 'shankarrao', 'akash', 'kiran chopra', 'gopal kamath', 'arjun']
arjun
karan
kiran chopra

In [11]:
lst=[]
while True:
    n=int(input("enter a number : "))
    if n<=0:
        print('stop the list')
        break
    else:
        lst.append(n)
print(lst) 
ln=len(lst)
h=ln//2
fh=lst[:h]
sh=lst[h:]
s=0
c=0
for i in sh:
    s=s+i
    c=c+1
avg=s/c

sh.sort(reverse=True)



print('length of the values : ',ln)
print('half of the lenth : ',h)
print('first half of the lenth : ',fh)
print('second half of the length : ',sh)

print('second height value',sh[1])
print('thired lowest value',sh[h-2])
print('sum',s)
print('average',avg)

enter a number : 3
enter a number : 5
enter a number : 7
enter a number : 2
enter a number : 9
enter a number : 6
enter a number : 8
enter a number : 4
enter a number : 5
enter a number : 2
enter a number : 4
enter a number : 9
enter a number : 1
enter a number : 3
enter a number : 4
enter a number : 6
enter a number : 8
enter a number : -1
stop the list
[3, 5, 7, 2, 9, 6, 8, 4, 5, 2, 4, 9, 1, 3, 4, 6, 8]
length of the values :  17
half of the lenth :  8
first half of the lenth :  [3, 5, 7, 2, 9, 6, 8, 4]
second half of the length :  [9, 8, 6, 5, 4, 4, 3, 2, 1]
second height value 8
thired lowest value 3
sum 42
average 4.666666666666667